langchain
langchain-community
langchain-chroma
langchain-google-genai
langchain-huggingface
langchain-mistralai
langchain-ollama
langchain-qdrant>=1.1.0,<2.0.0
mistralai
ollama
qdrant-client>=1.15.1,<2.0.0
protobuf>=5.29.0,<7.0.0
pydantic
PyPDF2
python-dotenv
sentence-transformers
streamlit
streamlit-chat
tiktoken
requests
numpy
pandas
chromadb
